*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #FFF;
    color:#040F0F;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-image:url(/resource/img/hero.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

section{
    padding: 80px 0;
}

h1,h2,h3{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;  
}

h1{
    margin: 0;
    color: #FFF;
    font-size: 240%;
    word-spacing: 4px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}
h2::after{
    display: block;
    height: 3px;
    background-color: #FF7F11;
    content: "";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
    height: 50px;
}

.box{
    padding: 1px;
}
.box p{
    font-size: 90%;
    line-height: 145%;
}

.icon{
    font-size: 200%;
    display: block;
    color: #FF7F11;
    margin-top: 20px;
    margin-bottom: 20px;
}

.long-par{
    line-height: 145%;
}

.text-box-besar{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
}

.btn-hungry:link,
.btn-hungry:visited{
    background-color: #FF7F11;
    color: #FFF;
    margin-right: 15px;
}
.btn-learn-more:link,
.btn-learn-more:visited{
    border: 1px solid #FF7F11;
    color: #FF7F11;
    
}

.btn:hover,
.btn:active{
    background-color: #FF206E;
}

.btn-learn-more:hover,
.btn-learn-more:active{
    color: #FFF;
}

.logo{
    height: 100px;
    width: auto;
}

.navbar{
    padding:10px;
    position: relative;
    background-color: #0c0b0b60;
    top: 20px;
    font-weight: 600;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 40px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #FF7F11;
}

.list-gallery{
    list-style: none;
    width: 100%;
}
.list-gallery li{
    display: block;
    float: left;
    width: 25%;
}

.pic-gallery{
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.pic-gallery img{
    width: 100%;
    height: 350px;
    transform: scale(1.15);
}

.gallery{
    padding:0;
}